<h1>Questions#ask</h1>
<p>Find me in app/views/questions/ask.html.erb</p>

<!-- #specifies the URL that will be used when submitting the form -->
<form action="/answer">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>
